target/
javy.wat
javy.wasm
/index.js
index.wasm
index.wit

.DS_Store

.obj/
*.a
*.o

qjsc
qjs
qjscalc
test_bindings.rs

deploy_module.sh
run_module.sh
tests/target/*.wasm

.idea
.vscode

crates/quickjs-wasm-sys/wasi-sdk
