[workspace]
members = [
  "crates/quickjs-wasm-sys",
  "crates/quickjs-wasm-rs",
  "crates/core",
  "crates/cli",
]

[workspace.package]
version = "0.4.0"
authors = ["The Javy Project Developers"]
edition = "2021"
license = "MIT"

[workspace.dependencies]
wasmtime = "0.35.3"
wasmtime-wasi = "0.35.3"
wasi-common = "0.35.3"
anyhow = "1.0"
once_cell = "1.16"

[profile.release]
lto = true
opt-level = 3
