[workspace]
members = [
  "crates/cli",
  "crates/codegen",
  "crates/javy",
  "crates/plugin",
  "crates/plugin-api",
  "crates/test-macros",
  "crates/test-plugin",
  "crates/runner",
  "fuzz",
]
resolver = "2"

[workspace.package]
version = "5.0.3"
authors = ["The Javy Project Developers"]
edition = "2021"
license = "Apache-2.0 WITH LLVM-exception"

[workspace.dependencies]
wizer = "8.0.0"
wasmtime = "29"
wasmtime-wasi = "29"
wasm-opt = "0.116.1"
anyhow = "1.0"
javy = { path = "crates/javy", version = "4.0.1-alpha.1" }
tempfile = "3.19.1"
uuid = { version = "1.16", features = ["v4"] }
serde = { version = "1.0", default-features = false }
serde_json = "1.0"

[profile.release]
lto = true
opt-level = 3
