[workspace]
members = [
  "crates/cli",
  "crates/codegen",
  "crates/javy",
  "crates/plugin",
  "crates/plugin-api",
  "crates/plugin-processing",
  "crates/test-invalid-plugin",
  "crates/test-macros",
  "crates/test-plugin-wasip1",
  "crates/test-plugin-wasip2",
  "crates/runner",
  "fuzz",
]
resolver = "2"

[workspace.package]
version = "8.0.0"
authors = ["The Javy Project Developers"]
edition = "2024"
license = "Apache-2.0 WITH LLVM-exception"

[workspace.dependencies]
brotli = "8.0.2"
clap = { version = "4.5.54", features = ["derive"] }
wasmtime = "39"
wasmtime-wasi = "39"
wasmtime-wizer = "39"
wasm-opt = "0.116.1"
anyhow = "1.0"
javy = { path = "crates/javy", version = "6.0.1-alpha.1" }
tempfile = "3.24.0"
tokio = "1"
uuid = { version = "1.19", features = ["v4"] }
serde = { version = "1.0", default-features = false }
serde_json = "1.0"
walrus = "0.24.3"
wasmparser = "0.243.0"

[profile.release]
lto = true
opt-level = 3
