[workspace]
members = [
  "crates/quickjs-wasm-sys",
  "crates/quickjs-wasm-rs",
  "crates/javy",
  "crates/apis",
  "crates/core",
  "crates/cli",
  "crates/javy-test-macros",
  "crates/javy-config",
]
resolver = "2"

[workspace.package]
version = "3.0.1"
authors = ["The Javy Project Developers"]
edition = "2021"
license = "Apache-2.0 WITH LLVM-exception"

[workspace.dependencies]
wizer = "6.0.0"
wasmtime = "19"
wasmtime-wasi = "19"
wasi-common = "19"
anyhow = "1.0"
once_cell = "1.19"
bitflags = "2.5.0"
javy-config = { path = "crates/javy-config" }
javy = { path = "crates/javy", version = "3.0.0" }

[profile.release]
lto = true
opt-level = 3
