[workspace]
members = [
  "crates/javy",
  "crates/core",
  "crates/cli",
  "crates/plugin-api",
  "crates/test-macros",
  "crates/runner",
  "fuzz",
]
resolver = "2"

[workspace.package]
version = "3.1.2"
authors = ["The Javy Project Developers"]
edition = "2021"
license = "Apache-2.0 WITH LLVM-exception"

[workspace.dependencies]
wizer = "7.0.0"
wasmtime = "23"
wasmtime-wasi = "23"
wasi-common = "23"
anyhow = "1.0"
javy = { path = "crates/javy", version = "3.0.2-alpha.1" }
tempfile = "3.13.0"
uuid = { version = "1.10", features = ["v4"] }
serde = { version = "1.0", default-features = false }
serde_json = "1.0"

[profile.release]
lto = true
opt-level = 3
