[package]
name = "javy-cli"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
build = "build.rs"

[[bin]]
name = "javy"
path = "src/main.rs"

[features]
dump_wat = ["dep:wasmprinter"]
experimental_event_loop = []

[dependencies]
wizer = { workspace = true }
anyhow = { workspace = true }
brotli = "6.0.0"
wasmprinter = { version = "0.215.0", optional = true }
wasmtime = { workspace = true }
wasmtime-wasi = { workspace = true }
wasi-common = { workspace = true }
walrus = "0.21.1"
swc_core = { version = "0.100.6", features = [
    "common_sourcemap",
    "ecma_ast",
    "ecma_parser",
] }
wit-parser = "0.215.0"
convert_case = "0.6.0"
wasm-opt = "0.116.1"
tempfile = { workspace = true }
clap = { version = "4.5.15", features = ["derive"] }

[dev-dependencies]
serde_json = "1.0"
lazy_static = "1.5"
serde = { version = "1.0", default-features = false, features = ["derive"] }
criterion = "0.5"
num-format = "0.4.4"
wasmparser = "0.215.0"
javy-runner = { path = "../runner/" }
uuid = { workspace = true }

[build-dependencies]
anyhow = "1.0.86"
wizer = { workspace = true }

[[bench]]
name = "benchmark"
harness = false
