[package]
name = "javy-cli"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
build = "build.rs"

[[bin]]
name = "javy"
path = "src/main.rs"

[features]
dump_wat = ["dep:wasmprinter"]
experimental_event_loop = []

[dependencies]
wizer = "3.0"
structopt = "0.3"
anyhow = { workspace = true }
binaryen = { git = "https://github.com/pepyakin/binaryen-rs", rev = "00c98174843f957681ba0bc5cdcc9d15f5d0cb23" }
brotli = "3.3.4"
wasmprinter = { version = "0.2.45", optional = true }
wasmtime = { workspace = true }
wasmtime-wasi = { workspace = true }
wasi-common = { workspace = true }
walrus = "0.20.1"
swc_core = { version = "0.83.0", features = ["common_sourcemap", "ecma_ast", "ecma_parser"] }
wit-parser = "0.11.3"
convert_case = "0.4.0"

[dev-dependencies]
serde_json = "1.0"
uuid = { version = "1.4", features = ["v4"] }
lazy_static = "1.4"
serde = { version = "1.0", default-features = false, features = ["derive"] }
criterion = "0.3"
num-format = "0.4.3"
tempfile = "3.4.0"
wasmparser = "0.106.0"

[build-dependencies]
anyhow = "1.0.75"
wizer = "3.0"

[[bench]]
name = "benchmark"
harness = false
