[package]
name = "javy"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
build = "build.rs"

[[bin]]
name = "javy"

[dependencies]
wizer = "1.6.0"
which = "4.2"
structopt = "0.3"
anyhow = { workspace = true }
tempfile = "3.2.0"
binaryen = "0.12.0"
parity-wasm = { version = "0.45.0", features = ["bulk"] }
brotli = "3.3.4"

[dev-dependencies]
wasmtime = { workspace = true }
wasmtime-wasi = { workspace = true }
wasi-common = { workspace = true }
serde_json = "1.0"
uuid = { version = "0.8", features = ["v4"] }
lazy_static = "1.4"
serde = { version = "1.0", default-features = false, features = ["derive"] }
criterion = "0.3"
num-format = "0.4.3"
wasm-encoder = "0.20"

[[bench]]
name = "benchmark"
harness = false
