[package]
name = "javy-cli"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
build = "build.rs"

[[bin]]
name = "javy"
path = "src/main.rs"

[dependencies]
wizer = { workspace = true }
anyhow = { workspace = true }
wasmtime = { workspace = true }
wasmtime-wasi = { workspace = true }
walrus = "0.23.3"
wasm-opt = "0.116.1"
tempfile = { workspace = true }
clap = { version = "4.5.35", features = ["derive"] }
serde = { workspace = true, default-features = false }
serde_json = { workspace = true }
javy-codegen = { path = "../codegen/", features = ["plugin_internal"] }

[dev-dependencies]
criterion = "0.5"
num-format = "0.4.4"
wasmparser = "0.228.0"
javy-runner = { path = "../runner/" }
javy-test-macros = { path = "../test-macros/" }

[build-dependencies]
anyhow = { workspace = true }
tempfile = { workspace = true }
wasm-opt = { workspace = true }
wizer = { workspace = true }

[[bench]]
name = "benchmark"
harness = false
