
# cargo-vet config file

[cargo-vet]
version = "0.9"

[imports.bytecode-alliance]
url = "https://raw.githubusercontent.com/bytecodealliance/wasmtime/main/supply-chain/audits.toml"

[imports.embark-studios]
url = "https://raw.githubusercontent.com/EmbarkStudios/rust-ecosystem/main/audits.toml"

[imports.fermyon]
url = "https://raw.githubusercontent.com/fermyon/spin/main/supply-chain/audits.toml"

[imports.google]
url = "https://raw.githubusercontent.com/google/supply-chain/main/audits.toml"

[imports.isrg]
url = "https://raw.githubusercontent.com/divviup/libprio-rs/main/supply-chain/audits.toml"

[imports.mozilla]
url = "https://raw.githubusercontent.com/mozilla/supply-chain/main/audits.toml"

[policy.javy]
audit-as-crates-io = false

[policy.javy-codegen]
audit-as-crates-io = false

[policy.javy-plugin]
audit-as-crates-io = false

[policy.javy-plugin-api]
audit-as-crates-io = false

[policy.javy-plugin-processing]
audit-as-crates-io = false

[[exemptions.addr2line]]
version = "0.19.0"
criteria = "safe-to-deploy"

[[exemptions.ahash]]
version = "0.8.12"
criteria = "safe-to-deploy"

[[exemptions.aho-corasick]]
version = "1.1.4"
criteria = "safe-to-deploy"

[[exemptions.alloc-no-stdlib]]
version = "2.0.4"
criteria = "safe-to-deploy"

[[exemptions.alloc-stdlib]]
version = "0.2.2"
criteria = "safe-to-deploy"

[[exemptions.anstream]]
version = "0.6.21"
criteria = "safe-to-deploy"

[[exemptions.anstyle]]
version = "1.0.13"
criteria = "safe-to-deploy"

[[exemptions.anstyle-query]]
version = "1.1.4"
criteria = "safe-to-deploy"

[[exemptions.anstyle-wincon]]
version = "3.0.10"
criteria = "safe-to-deploy"

[[exemptions.arbitrary-json]]
version = "0.1.1"
criteria = "safe-to-deploy"

[[exemptions.ast_node]]
version = "4.0.0"
criteria = "safe-to-deploy"

[[exemptions.async-trait]]
version = "0.1.89"
criteria = "safe-to-deploy"

[[exemptions.autocfg]]
version = "1.5.0"
criteria = "safe-to-deploy"

[[exemptions.base64-simd]]
version = "0.8.0"
criteria = "safe-to-deploy"

[[exemptions.better_scoped_tls]]
version = "1.0.1"
criteria = "safe-to-deploy"

[[exemptions.bindgen]]
version = "0.72.1"
criteria = "safe-to-deploy"

[[exemptions.bitflags]]
version = "2.10.0"
criteria = "safe-to-deploy"

[[exemptions.bitvec]]
version = "1.0.1"
criteria = "safe-to-deploy"

[[exemptions.block-buffer]]
version = "0.10.4"
criteria = "safe-to-deploy"

[[exemptions.brotli]]
version = "8.0.2"
criteria = "safe-to-deploy"

[[exemptions.brotli-decompressor]]
version = "5.0.0"
criteria = "safe-to-deploy"

[[exemptions.bytes-str]]
version = "0.2.7"
criteria = "safe-to-deploy"

[[exemptions.camino]]
version = "1.2.1"
criteria = "safe-to-deploy"

[[exemptions.cargo-platform]]
version = "0.1.9"
criteria = "safe-to-deploy"

[[exemptions.cc]]
version = "1.2.44"
criteria = "safe-to-deploy"

[[exemptions.clang-sys]]
version = "1.8.1"
criteria = "safe-to-deploy"

[[exemptions.clap_lex]]
version = "0.7.6"
criteria = "safe-to-deploy"

[[exemptions.codespan-reporting]]
version = "0.13.1"
criteria = "safe-to-deploy"

[[exemptions.console]]
version = "0.15.11"
criteria = "safe-to-run"

[[exemptions.convert_case]]
version = "0.8.0"
criteria = "safe-to-deploy"

[[exemptions.cpp_demangle]]
version = "0.4.5"
criteria = "safe-to-deploy"

[[exemptions.cpufeatures]]
version = "0.2.17"
criteria = "safe-to-deploy"

[[exemptions.crc32fast]]
version = "1.5.0"
criteria = "safe-to-deploy"

[[exemptions.crossbeam-deque]]
version = "0.8.6"
criteria = "safe-to-deploy"

[[exemptions.crossbeam-epoch]]
version = "0.9.18"
criteria = "safe-to-deploy"

[[exemptions.crossbeam-utils]]
version = "0.8.20"
criteria = "safe-to-deploy"

[[exemptions.cxx]]
version = "1.0.187"
criteria = "safe-to-deploy"

[[exemptions.cxx-build]]
version = "1.0.187"
criteria = "safe-to-deploy"

[[exemptions.cxxbridge-flags]]
version = "1.0.187"
criteria = "safe-to-deploy"

[[exemptions.cxxbridge-macro]]
version = "1.0.187"
criteria = "safe-to-deploy"

[[exemptions.darling]]
version = "0.20.11"
criteria = "safe-to-deploy"

[[exemptions.darling_core]]
version = "0.20.11"
criteria = "safe-to-deploy"

[[exemptions.darling_macro]]
version = "0.20.11"
criteria = "safe-to-deploy"

[[exemptions.data-encoding]]
version = "2.9.0"
criteria = "safe-to-deploy"

[[exemptions.derive_builder]]
version = "0.20.2"
criteria = "safe-to-deploy"

[[exemptions.derive_builder_core]]
version = "0.20.2"
criteria = "safe-to-deploy"

[[exemptions.derive_builder_macro]]
version = "0.20.2"
criteria = "safe-to-deploy"

[[exemptions.digest]]
version = "0.10.6"
criteria = "safe-to-deploy"

[[exemptions.directories-next]]
version = "2.0.0"
criteria = "safe-to-deploy"

[[exemptions.dirs-sys-next]]
version = "0.1.2"
criteria = "safe-to-deploy"

[[exemptions.encode_unicode]]
version = "1.0.0"
criteria = "safe-to-run"

[[exemptions.env_logger]]
version = "0.8.4"
criteria = "safe-to-deploy"

[[exemptions.fallible-iterator]]
version = "0.2.0"
criteria = "safe-to-deploy"

[[exemptions.fd-lock]]
version = "4.0.4"
criteria = "safe-to-deploy"

[[exemptions.find-msvc-tools]]
version = "0.1.0"
criteria = "safe-to-deploy"

[[exemptions.float-cmp]]
version = "0.10.0"
criteria = "safe-to-deploy"

[[exemptions.from_variant]]
version = "2.0.2"
criteria = "safe-to-deploy"

[[exemptions.fs-set-times]]
version = "0.20.3"
criteria = "safe-to-deploy"

[[exemptions.funty]]
version = "2.0.0"
criteria = "safe-to-deploy"

[[exemptions.futures-task]]
version = "0.3.21"
criteria = "safe-to-deploy"

[[exemptions.futures-util]]
version = "0.3.21"
criteria = "safe-to-deploy"

[[exemptions.generic-array]]
version = "0.14.9"
criteria = "safe-to-deploy"

[[exemptions.getrandom]]
version = "0.2.16"
criteria = "safe-to-deploy"

[[exemptions.getrandom]]
version = "0.3.4"
criteria = "safe-to-deploy"

[[exemptions.gimli]]
version = "0.26.2"
criteria = "safe-to-deploy"

[[exemptions.halfbrown]]
version = "0.3.0"
criteria = "safe-to-deploy"

[[exemptions.hermit-abi]]
version = "0.3.9"
criteria = "safe-to-deploy"

[[exemptions.hstr]]
version = "3.0.3"
criteria = "safe-to-deploy"

[[exemptions.icu_collections]]
version = "2.1.1"
criteria = "safe-to-deploy"

[[exemptions.icu_locale_core]]
version = "2.1.1"
criteria = "safe-to-deploy"

[[exemptions.icu_normalizer]]
version = "2.1.1"
criteria = "safe-to-deploy"

[[exemptions.icu_normalizer_data]]
version = "2.1.1"
criteria = "safe-to-deploy"

[[exemptions.icu_properties]]
version = "2.1.1"
criteria = "safe-to-deploy"

[[exemptions.icu_properties_data]]
version = "2.1.1"
criteria = "safe-to-deploy"

[[exemptions.icu_provider]]
version = "2.1.1"
criteria = "safe-to-deploy"

[[exemptions.if_chain]]
version = "1.0.3"
criteria = "safe-to-deploy"

[[exemptions.insta]]
version = "1.43.2"
criteria = "safe-to-run"

[[exemptions.io-lifetimes]]
version = "2.0.4"
criteria = "safe-to-deploy"

[[exemptions.ipnet]]
version = "2.11.0"
criteria = "safe-to-deploy"

[[exemptions.is-macro]]
version = "0.3.7"
criteria = "safe-to-deploy"

[[exemptions.is_terminal_polyfill]]
version = "1.70.2"
criteria = "safe-to-deploy"

[[exemptions.itertools]]
version = "0.10.3"
criteria = "safe-to-deploy"

[[exemptions.itertools]]
version = "0.13.0"
criteria = "safe-to-deploy"

[[exemptions.jobserver]]
version = "0.1.34"
criteria = "safe-to-deploy"

[[exemptions.js-sys]]
version = "0.3.82"
criteria = "safe-to-deploy"

[[exemptions.libc]]
version = "0.2.177"
criteria = "safe-to-deploy"

[[exemptions.libloading]]
version = "0.8.9"
criteria = "safe-to-deploy"

[[exemptions.libm]]
version = "0.2.15"
criteria = "safe-to-deploy"

[[exemptions.libredox]]
version = "0.1.10"
criteria = "safe-to-deploy"

[[exemptions.link-cplusplus]]
version = "1.0.12"
criteria = "safe-to-deploy"

[[exemptions.litemap]]
version = "0.8.1"
criteria = "safe-to-deploy"

[[exemptions.mach2]]
version = "0.4.3"
criteria = "safe-to-deploy"

[[exemptions.maybe-owned]]
version = "0.3.4"
criteria = "safe-to-deploy"

[[exemptions.memchr]]
version = "2.7.6"
criteria = "safe-to-deploy"

[[exemptions.minimal-lexical]]
version = "0.2.1"
criteria = "safe-to-deploy"

[[exemptions.mio]]
version = "1.1.0"
criteria = "safe-to-deploy"

[[exemptions.new_debug_unreachable]]
version = "1.0.6"
criteria = "safe-to-deploy"

[[exemptions.num-bigint]]
version = "0.4.6"
criteria = "safe-to-deploy"

[[exemptions.num_cpus]]
version = "1.17.0"
criteria = "safe-to-deploy"

[[exemptions.object]]
version = "0.36.0"
criteria = "safe-to-deploy"

[[exemptions.once_cell]]
version = "1.16.0"
criteria = "safe-to-deploy"

[[exemptions.once_cell_polyfill]]
version = "1.70.2"
criteria = "safe-to-deploy"

[[exemptions.outref]]
version = "0.5.2"
criteria = "safe-to-deploy"

[[exemptions.par-core]]
version = "2.0.0"
criteria = "safe-to-deploy"

[[exemptions.phf]]
version = "0.11.3"
criteria = "safe-to-deploy"

[[exemptions.phf_generator]]
version = "0.11.3"
criteria = "safe-to-deploy"

[[exemptions.phf_macros]]
version = "0.11.3"
criteria = "safe-to-deploy"

[[exemptions.phf_shared]]
version = "0.11.3"
criteria = "safe-to-deploy"

[[exemptions.pkg-config]]
version = "0.3.32"
criteria = "safe-to-deploy"

[[exemptions.potential_utf]]
version = "0.1.4"
criteria = "safe-to-deploy"

[[exemptions.ppv-lite86]]
version = "0.2.21"
criteria = "safe-to-deploy"

[[exemptions.prettyplease]]
version = "0.2.37"
criteria = "safe-to-deploy"

[[exemptions.proc-macro-crate]]
version = "3.4.0"
criteria = "safe-to-deploy"

[[exemptions.r-efi]]
version = "5.3.0"
criteria = "safe-to-deploy"

[[exemptions.radium]]
version = "0.7.0"
criteria = "safe-to-deploy"

[[exemptions.redox_users]]
version = "0.4.6"
criteria = "safe-to-deploy"

[[exemptions.ref-cast]]
version = "1.0.25"
criteria = "safe-to-deploy"

[[exemptions.ref-cast-impl]]
version = "1.0.25"
criteria = "safe-to-deploy"

[[exemptions.regex]]
version = "1.12.2"
criteria = "safe-to-deploy"

[[exemptions.regex-automata]]
version = "0.4.13"
criteria = "safe-to-deploy"

[[exemptions.regex-syntax]]
version = "0.8.8"
criteria = "safe-to-deploy"

[[exemptions.relative-path]]
version = "2.0.1"
criteria = "safe-to-deploy"

[[exemptions.rquickjs]]
version = "0.10.0"
criteria = "safe-to-deploy"

[[exemptions.rquickjs-core]]
version = "0.10.0"
criteria = "safe-to-deploy"

[[exemptions.rquickjs-macro]]
version = "0.10.0"
criteria = "safe-to-deploy"

[[exemptions.rquickjs-sys]]
version = "0.10.0"
criteria = "safe-to-deploy"

[[exemptions.rustc-demangle]]
version = "0.1.26"
criteria = "safe-to-deploy"

[[exemptions.rustversion]]
version = "1.0.22"
criteria = "safe-to-deploy"

[[exemptions.ryu]]
version = "1.0.20"
criteria = "safe-to-deploy"

[[exemptions.ryu-js]]
version = "1.0.2"
criteria = "safe-to-deploy"

[[exemptions.scoped-tls]]
version = "1.0.1"
criteria = "safe-to-deploy"

[[exemptions.scratch]]
version = "1.0.9"
criteria = "safe-to-deploy"

[[exemptions.semver]]
version = "1.0.27"
criteria = "safe-to-deploy"

[[exemptions.serde-transcode]]
version = "1.1.1"
criteria = "safe-to-deploy"

[[exemptions.serde_spanned]]
version = "0.6.9"
criteria = "safe-to-deploy"

[[exemptions.simd-json]]
version = "0.16.0"
criteria = "safe-to-deploy"

[[exemptions.simdutf8]]
version = "0.1.5"
criteria = "safe-to-deploy"

[[exemptions.siphasher]]
version = "0.3.11"
criteria = "safe-to-deploy"

[[exemptions.smartstring]]
version = "1.0.1"
criteria = "safe-to-deploy"

[[exemptions.socket2]]
version = "0.6.1"
criteria = "safe-to-deploy"

[[exemptions.stable_deref_trait]]
version = "1.2.1"
criteria = "safe-to-deploy"

[[exemptions.string_enum]]
version = "1.0.2"
criteria = "safe-to-deploy"

[[exemptions.swc_allocator]]
version = "4.0.1"
criteria = "safe-to-deploy"

[[exemptions.swc_atoms]]
version = "8.0.2"
criteria = "safe-to-deploy"

[[exemptions.swc_common]]
version = "16.0.0"
criteria = "safe-to-deploy"

[[exemptions.swc_core]]
version = "46.0.3"
criteria = "safe-to-deploy"

[[exemptions.swc_ecma_ast]]
version = "17.0.0"
criteria = "safe-to-deploy"

[[exemptions.swc_ecma_parser]]
version = "26.0.1"
criteria = "safe-to-deploy"

[[exemptions.swc_ecma_transforms_base]]
version = "29.0.0"
criteria = "safe-to-deploy"

[[exemptions.swc_ecma_utils]]
version = "23.0.0"
criteria = "safe-to-deploy"

[[exemptions.swc_ecma_visit]]
version = "17.0.0"
criteria = "safe-to-deploy"

[[exemptions.swc_eq_ignore_macros]]
version = "1.0.1"
criteria = "safe-to-deploy"

[[exemptions.swc_macros_common]]
version = "1.0.1"
criteria = "safe-to-deploy"

[[exemptions.swc_sourcemap]]
version = "9.3.4"
criteria = "safe-to-deploy"

[[exemptions.swc_visit]]
version = "2.0.1"
criteria = "safe-to-deploy"

[[exemptions.tempfile]]
version = "3.23.0"
criteria = "safe-to-deploy"

[[exemptions.tinystr]]
version = "0.8.2"
criteria = "safe-to-deploy"

[[exemptions.tokio]]
version = "1.48.0"
criteria = "safe-to-deploy"

[[exemptions.toml]]
version = "0.8.23"
criteria = "safe-to-deploy"

[[exemptions.toml_write]]
version = "0.1.2"
criteria = "safe-to-deploy"

[[exemptions.triomphe]]
version = "0.1.15"
criteria = "safe-to-deploy"

[[exemptions.typenum]]
version = "1.19.0"
criteria = "safe-to-deploy"

[[exemptions.unicode-id-start]]
version = "1.4.0"
criteria = "safe-to-deploy"

[[exemptions.unicode-ident]]
version = "1.0.22"
criteria = "safe-to-deploy"

[[exemptions.uuid]]
version = "1.18.1"
criteria = "safe-to-deploy"

[[exemptions.value-trait]]
version = "0.11.0"
criteria = "safe-to-deploy"

[[exemptions.vergen]]
version = "9.0.6"
criteria = "safe-to-deploy"

[[exemptions.vergen-lib]]
version = "0.1.6"
criteria = "safe-to-deploy"

[[exemptions.version_check]]
version = "0.9.5"
criteria = "safe-to-deploy"

[[exemptions.vsimd]]
version = "0.8.0"
criteria = "safe-to-deploy"

[[exemptions.walrus]]
version = "0.24.4"
criteria = "safe-to-deploy"

[[exemptions.walrus-macro]]
version = "0.24.0"
criteria = "safe-to-deploy"

[[exemptions.wasm-bindgen]]
version = "0.2.105"
criteria = "safe-to-deploy"

[[exemptions.wasm-bindgen-macro]]
version = "0.2.105"
criteria = "safe-to-deploy"

[[exemptions.wasm-bindgen-macro-support]]
version = "0.2.105"
criteria = "safe-to-deploy"

[[exemptions.wasm-bindgen-shared]]
version = "0.2.105"
criteria = "safe-to-deploy"

[[exemptions.wasm-encoder]]
version = "0.236.1"
criteria = "safe-to-deploy"

[[exemptions.wasm-opt]]
version = "0.116.1"
criteria = "safe-to-deploy"

[[exemptions.wasm-opt-cxx-sys]]
version = "0.116.0"
criteria = "safe-to-deploy"

[[exemptions.wasm-opt-sys]]
version = "0.116.0"
criteria = "safe-to-deploy"

[[exemptions.wasmparser]]
version = "0.236.1"
criteria = "safe-to-deploy"

[[exemptions.wasmprinter]]
version = "0.236.1"
criteria = "safe-to-deploy"

[[exemptions.winapi]]
version = "0.3.9"
criteria = "safe-to-deploy"

[[exemptions.winapi-i686-pc-windows-gnu]]
version = "0.4.0"
criteria = "safe-to-deploy"

[[exemptions.winapi-util]]
version = "0.1.11"
criteria = "safe-to-deploy"

[[exemptions.winapi-x86_64-pc-windows-gnu]]
version = "0.4.0"
criteria = "safe-to-deploy"

[[exemptions.windows-core]]
version = "0.62.2"
criteria = "safe-to-deploy"

[[exemptions.windows-implement]]
version = "0.60.2"
criteria = "safe-to-deploy"

[[exemptions.windows-interface]]
version = "0.59.3"
criteria = "safe-to-deploy"

[[exemptions.windows-result]]
version = "0.4.1"
criteria = "safe-to-deploy"

[[exemptions.windows-strings]]
version = "0.5.1"
criteria = "safe-to-deploy"

[[exemptions.wit-bindgen]]
version = "0.47.0"
criteria = "safe-to-deploy"

[[exemptions.wit-bindgen-core]]
version = "0.47.0"
criteria = "safe-to-deploy"

[[exemptions.wit-bindgen-rust]]
version = "0.47.0"
criteria = "safe-to-deploy"

[[exemptions.wit-bindgen-rust-macro]]
version = "0.47.0"
criteria = "safe-to-deploy"

[[exemptions.wit-parser]]
version = "0.236.1"
criteria = "safe-to-deploy"

[[exemptions.witx]]
version = "0.9.1"
criteria = "safe-to-deploy"

[[exemptions.writeable]]
version = "0.6.2"
criteria = "safe-to-deploy"

[[exemptions.wyz]]
version = "0.5.1"
criteria = "safe-to-deploy"

[[exemptions.yoke]]
version = "0.8.1"
criteria = "safe-to-deploy"

[[exemptions.yoke-derive]]
version = "0.8.1"
criteria = "safe-to-deploy"

[[exemptions.zerocopy]]
version = "0.8.27"
criteria = "safe-to-deploy"

[[exemptions.zerocopy-derive]]
version = "0.8.27"
criteria = "safe-to-deploy"

[[exemptions.zerotrie]]
version = "0.2.3"
criteria = "safe-to-deploy"

[[exemptions.zerovec]]
version = "0.11.5"
criteria = "safe-to-deploy"

[[exemptions.zerovec-derive]]
version = "0.11.2"
criteria = "safe-to-deploy"

[[exemptions.zstd]]
version = "0.13.3"
criteria = "safe-to-deploy"

[[exemptions.zstd-safe]]
version = "7.2.4"
criteria = "safe-to-deploy"

[[exemptions.zstd-sys]]
version = "2.0.16+zstd.1.5.7"
criteria = "safe-to-deploy"
