
# cargo-vet config file

[cargo-vet]
version = "0.9"

[imports.bytecode-alliance]
url = "https://raw.githubusercontent.com/bytecodealliance/wasmtime/main/supply-chain/audits.toml"

[imports.embark-studios]
url = "https://raw.githubusercontent.com/EmbarkStudios/rust-ecosystem/main/audits.toml"

[imports.fermyon]
url = "https://raw.githubusercontent.com/fermyon/spin/main/supply-chain/audits.toml"

[imports.google]
url = "https://raw.githubusercontent.com/google/supply-chain/main/audits.toml"

[imports.isrg]
url = "https://raw.githubusercontent.com/divviup/libprio-rs/main/supply-chain/audits.toml"

[imports.mozilla]
url = "https://raw.githubusercontent.com/mozilla/supply-chain/main/audits.toml"

[policy.javy]
audit-as-crates-io = false

[policy.javy-codegen]
audit-as-crates-io = false

[policy.javy-plugin]
audit-as-crates-io = false

[policy.javy-plugin-api]
audit-as-crates-io = false

[policy.javy-plugin-processing]
audit-as-crates-io = false

[[exemptions.Inflector]]
version = "0.11.4"
criteria = "safe-to-deploy"

[[exemptions.addr2line]]
version = "0.19.0"
criteria = "safe-to-deploy"

[[exemptions.addr2line]]
version = "0.24.2"
criteria = "safe-to-deploy"

[[exemptions.ahash]]
version = "0.8.11"
criteria = "safe-to-deploy"

[[exemptions.alloc-no-stdlib]]
version = "2.0.4"
criteria = "safe-to-deploy"

[[exemptions.alloc-stdlib]]
version = "0.2.2"
criteria = "safe-to-deploy"

[[exemptions.arbitrary-json]]
version = "0.1.1"
criteria = "safe-to-deploy"

[[exemptions.ast_node]]
version = "3.0.0"
criteria = "safe-to-deploy"

[[exemptions.autocfg]]
version = "1.3.0"
criteria = "safe-to-deploy"

[[exemptions.backtrace]]
version = "0.3.73"
criteria = "safe-to-deploy"

[[exemptions.base64]]
version = "0.21.7"
criteria = "safe-to-deploy"

[[exemptions.base64-simd]]
version = "0.7.0"
criteria = "safe-to-deploy"

[[exemptions.better_scoped_tls]]
version = "1.0.0"
criteria = "safe-to-deploy"

[[exemptions.bitvec]]
version = "1.0.1"
criteria = "safe-to-deploy"

[[exemptions.block-buffer]]
version = "0.10.4"
criteria = "safe-to-deploy"

[[exemptions.brotli]]
version = "8.0.1"
criteria = "safe-to-deploy"

[[exemptions.brotli-decompressor]]
version = "5.0.0"
criteria = "safe-to-deploy"

[[exemptions.bytes]]
version = "1.6.0"
criteria = "safe-to-deploy"

[[exemptions.camino]]
version = "1.1.7"
criteria = "safe-to-deploy"

[[exemptions.cargo-platform]]
version = "0.1.8"
criteria = "safe-to-deploy"

[[exemptions.cc]]
version = "1.2.23"
criteria = "safe-to-deploy"

[[exemptions.clang-sys]]
version = "1.8.1"
criteria = "safe-to-deploy"

[[exemptions.convert_case]]
version = "0.6.0"
criteria = "safe-to-deploy"

[[exemptions.convert_case]]
version = "0.8.0"
criteria = "safe-to-deploy"

[[exemptions.cpp_demangle]]
version = "0.3.5"
criteria = "safe-to-deploy"

[[exemptions.cpufeatures]]
version = "0.2.12"
criteria = "safe-to-deploy"

[[exemptions.criterion]]
version = "0.6.0"
criteria = "safe-to-run"

[[exemptions.criterion-plot]]
version = "0.4.5"
criteria = "safe-to-run"

[[exemptions.crossbeam-deque]]
version = "0.8.5"
criteria = "safe-to-deploy"

[[exemptions.crossbeam-epoch]]
version = "0.9.18"
criteria = "safe-to-deploy"

[[exemptions.crossbeam-utils]]
version = "0.8.20"
criteria = "safe-to-deploy"

[[exemptions.darling]]
version = "0.13.4"
criteria = "safe-to-deploy"

[[exemptions.darling_core]]
version = "0.13.4"
criteria = "safe-to-deploy"

[[exemptions.darling_macro]]
version = "0.13.4"
criteria = "safe-to-deploy"

[[exemptions.data-encoding]]
version = "2.6.0"
criteria = "safe-to-deploy"

[[exemptions.derive_builder]]
version = "0.20.1"
criteria = "safe-to-deploy"

[[exemptions.derive_builder_core]]
version = "0.20.1"
criteria = "safe-to-deploy"

[[exemptions.derive_builder_macro]]
version = "0.20.1"
criteria = "safe-to-deploy"

[[exemptions.digest]]
version = "0.10.6"
criteria = "safe-to-deploy"

[[exemptions.directories-next]]
version = "2.0.0"
criteria = "safe-to-deploy"

[[exemptions.dirs]]
version = "4.0.0"
criteria = "safe-to-deploy"

[[exemptions.dirs-sys]]
version = "0.3.7"
criteria = "safe-to-deploy"

[[exemptions.dirs-sys-next]]
version = "0.1.2"
criteria = "safe-to-deploy"

[[exemptions.embedded-io]]
version = "0.6.1"
criteria = "safe-to-deploy"

[[exemptions.env_logger]]
version = "0.8.4"
criteria = "safe-to-deploy"

[[exemptions.fallible-iterator]]
version = "0.2.0"
criteria = "safe-to-deploy"

[[exemptions.float-cmp]]
version = "0.10.0"
criteria = "safe-to-deploy"

[[exemptions.from_variant]]
version = "2.0.0"
criteria = "safe-to-deploy"

[[exemptions.funty]]
version = "2.0.0"
criteria = "safe-to-deploy"

[[exemptions.futures]]
version = "0.3.30"
criteria = "safe-to-deploy"

[[exemptions.futures-channel]]
version = "0.3.30"
criteria = "safe-to-deploy"

[[exemptions.futures-core]]
version = "0.3.30"
criteria = "safe-to-deploy"

[[exemptions.futures-io]]
version = "0.3.30"
criteria = "safe-to-deploy"

[[exemptions.futures-sink]]
version = "0.3.30"
criteria = "safe-to-deploy"

[[exemptions.futures-task]]
version = "0.3.30"
criteria = "safe-to-deploy"

[[exemptions.futures-util]]
version = "0.3.30"
criteria = "safe-to-deploy"

[[exemptions.generic-array]]
version = "0.14.7"
criteria = "safe-to-deploy"

[[exemptions.getrandom]]
version = "0.2.2"
criteria = "safe-to-deploy"

[[exemptions.getrandom]]
version = "0.2.16"
criteria = "safe-to-deploy"

[[exemptions.getset]]
version = "0.1.3"
criteria = "safe-to-deploy"

[[exemptions.gimli]]
version = "0.26.2"
criteria = "safe-to-deploy"

[[exemptions.halfbrown]]
version = "0.3.0"
criteria = "safe-to-deploy"

[[exemptions.hermit-abi]]
version = "0.3.9"
criteria = "safe-to-deploy"

[[exemptions.home]]
version = "0.5.9"
criteria = "safe-to-deploy"

[[exemptions.hstr]]
version = "1.0.0"
criteria = "safe-to-deploy"

[[exemptions.iana-time-zone]]
version = "0.1.60"
criteria = "safe-to-deploy"

[[exemptions.if_chain]]
version = "1.0.2"
criteria = "safe-to-deploy"

[[exemptions.ipnet]]
version = "2.9.0"
criteria = "safe-to-deploy"

[[exemptions.is-macro]]
version = "0.3.5"
criteria = "safe-to-deploy"

[[exemptions.itertools]]
version = "0.10.3"
criteria = "safe-to-deploy"

[[exemptions.jobserver]]
version = "0.1.24"
criteria = "safe-to-deploy"

[[exemptions.lazycell]]
version = "1.3.0"
criteria = "safe-to-deploy"

[[exemptions.libloading]]
version = "0.8.4"
criteria = "safe-to-deploy"

[[exemptions.libm]]
version = "0.2.11"
criteria = "safe-to-deploy"

[[exemptions.libredox]]
version = "0.1.3"
criteria = "safe-to-deploy"

[[exemptions.log]]
version = "0.4.27"
criteria = "safe-to-deploy"

[[exemptions.maybe-owned]]
version = "0.3.4"
criteria = "safe-to-deploy"

[[exemptions.minimal-lexical]]
version = "0.2.1"
criteria = "safe-to-deploy"

[[exemptions.mio]]
version = "1.0.3"
criteria = "safe-to-deploy"

[[exemptions.new_debug_unreachable]]
version = "1.0.6"
criteria = "safe-to-deploy"

[[exemptions.num-bigint]]
version = "0.4.6"
criteria = "safe-to-deploy"

[[exemptions.num-format]]
version = "0.4.4"
criteria = "safe-to-run"

[[exemptions.object]]
version = "0.36.7"
criteria = "safe-to-deploy"

[[exemptions.once_cell]]
version = "1.16.0"
criteria = "safe-to-deploy"

[[exemptions.oorandom]]
version = "11.1.4"
criteria = "safe-to-run"

[[exemptions.outref]]
version = "0.1.0"
criteria = "safe-to-deploy"

[[exemptions.phf]]
version = "0.10.1"
criteria = "safe-to-deploy"

[[exemptions.phf_generator]]
version = "0.10.0"
criteria = "safe-to-deploy"

[[exemptions.phf_macros]]
version = "0.10.0"
criteria = "safe-to-deploy"

[[exemptions.phf_shared]]
version = "0.10.0"
criteria = "safe-to-deploy"

[[exemptions.pkg-config]]
version = "0.3.30"
criteria = "safe-to-deploy"

[[exemptions.plotters]]
version = "0.3.6"
criteria = "safe-to-run"

[[exemptions.plotters-backend]]
version = "0.3.6"
criteria = "safe-to-run"

[[exemptions.plotters-svg]]
version = "0.3.6"
criteria = "safe-to-run"

[[exemptions.portable-atomic]]
version = "1.9.0"
criteria = "safe-to-deploy"

[[exemptions.postcard]]
version = "1.0.10"
criteria = "safe-to-deploy"

[[exemptions.ppv-lite86]]
version = "0.2.16"
criteria = "safe-to-deploy"

[[exemptions.proc-macro-crate]]
version = "1.3.1"
criteria = "safe-to-deploy"

[[exemptions.proc-macro-error]]
version = "1.0.4"
criteria = "safe-to-deploy"

[[exemptions.proc-macro-error-attr2]]
version = "2.0.0"
criteria = "safe-to-deploy"

[[exemptions.proc-macro-error2]]
version = "2.0.1"
criteria = "safe-to-deploy"

[[exemptions.psm]]
version = "0.1.21"
criteria = "safe-to-deploy"

[[exemptions.ptr_meta]]
version = "0.3.0"
criteria = "safe-to-deploy"

[[exemptions.ptr_meta_derive]]
version = "0.3.0"
criteria = "safe-to-deploy"

[[exemptions.r-efi]]
version = "5.2.0"
criteria = "safe-to-deploy"

[[exemptions.radium]]
version = "0.7.0"
criteria = "safe-to-deploy"

[[exemptions.redox_users]]
version = "0.4.5"
criteria = "safe-to-deploy"

[[exemptions.rquickjs]]
version = "0.6.1"
criteria = "safe-to-deploy"

[[exemptions.rquickjs-core]]
version = "0.6.1"
criteria = "safe-to-deploy"

[[exemptions.rquickjs-macro]]
version = "0.6.1"
criteria = "safe-to-deploy"

[[exemptions.rquickjs-sys]]
version = "0.6.1"
criteria = "safe-to-deploy"

[[exemptions.rustc_version]]
version = "0.2.3"
criteria = "safe-to-deploy"

[[exemptions.ryu-js]]
version = "1.0.1"
criteria = "safe-to-deploy"

[[exemptions.scoped-tls]]
version = "1.0.1"
criteria = "safe-to-deploy"

[[exemptions.semver]]
version = "0.9.0"
criteria = "safe-to-deploy"

[[exemptions.semver]]
version = "1.0.23"
criteria = "safe-to-deploy"

[[exemptions.semver-parser]]
version = "0.7.0"
criteria = "safe-to-deploy"

[[exemptions.serde-transcode]]
version = "1.1.1"
criteria = "safe-to-deploy"

[[exemptions.shellexpand]]
version = "2.1.2"
criteria = "safe-to-deploy"

[[exemptions.simd-abstraction]]
version = "0.7.1"
criteria = "safe-to-deploy"

[[exemptions.simd-json]]
version = "0.15.1"
criteria = "safe-to-deploy"

[[exemptions.simdutf8]]
version = "0.1.4"
criteria = "safe-to-deploy"

[[exemptions.siphasher]]
version = "0.3.11"
criteria = "safe-to-deploy"

[[exemptions.smartstring]]
version = "1.0.1"
criteria = "safe-to-deploy"

[[exemptions.socket2]]
version = "0.4.4"
criteria = "safe-to-deploy"

[[exemptions.sourcemap]]
version = "9.0.0"
criteria = "safe-to-deploy"

[[exemptions.stacker]]
version = "0.1.15"
criteria = "safe-to-deploy"

[[exemptions.string_enum]]
version = "1.0.0"
criteria = "safe-to-deploy"

[[exemptions.swc_allocator]]
version = "4.0.0"
criteria = "safe-to-deploy"

[[exemptions.swc_atoms]]
version = "5.0.0"
criteria = "safe-to-deploy"

[[exemptions.swc_common]]
version = "8.0.1"
criteria = "safe-to-deploy"

[[exemptions.swc_core]]
version = "16.10.0"
criteria = "safe-to-deploy"

[[exemptions.swc_ecma_ast]]
version = "8.1.0"
criteria = "safe-to-deploy"

[[exemptions.swc_ecma_parser]]
version = "10.0.2"
criteria = "safe-to-deploy"

[[exemptions.swc_ecma_transforms_base]]
version = "11.2.0"
criteria = "safe-to-deploy"

[[exemptions.swc_ecma_utils]]
version = "11.0.0"
criteria = "safe-to-deploy"

[[exemptions.swc_ecma_visit]]
version = "8.0.0"
criteria = "safe-to-deploy"

[[exemptions.swc_eq_ignore_macros]]
version = "1.0.0"
criteria = "safe-to-deploy"

[[exemptions.swc_macros_common]]
version = "1.0.0"
criteria = "safe-to-deploy"

[[exemptions.swc_parallel]]
version = "1.2.0"
criteria = "safe-to-deploy"

[[exemptions.swc_visit]]
version = "2.0.0"
criteria = "safe-to-deploy"

[[exemptions.tempfile]]
version = "3.20.0"
criteria = "safe-to-deploy"

[[exemptions.tracing]]
version = "0.1.40"
criteria = "safe-to-deploy"

[[exemptions.tracing-attributes]]
version = "0.1.27"
criteria = "safe-to-deploy"

[[exemptions.tracing-core]]
version = "0.1.32"
criteria = "safe-to-deploy"

[[exemptions.trait-variant]]
version = "0.1.2"
criteria = "safe-to-deploy"

[[exemptions.triomphe]]
version = "0.1.13"
criteria = "safe-to-deploy"

[[exemptions.typed-arena]]
version = "2.0.2"
criteria = "safe-to-deploy"

[[exemptions.typenum]]
version = "1.17.0"
criteria = "safe-to-deploy"

[[exemptions.unicode-id]]
version = "0.3.4"
criteria = "safe-to-deploy"

[[exemptions.unicode-id-start]]
version = "1.2.0"
criteria = "safe-to-deploy"

[[exemptions.uuid]]
version = "1.17.0"
criteria = "safe-to-deploy"

[[exemptions.value-trait]]
version = "0.11.0"
criteria = "safe-to-deploy"

[[exemptions.vergen]]
version = "9.0.0"
criteria = "safe-to-deploy"

[[exemptions.vergen-lib]]
version = "0.1.3"
criteria = "safe-to-deploy"

[[exemptions.walrus]]
version = "0.23.3"
criteria = "safe-to-deploy"

[[exemptions.walrus-macro]]
version = "0.22.0"
criteria = "safe-to-deploy"

[[exemptions.wasm-opt]]
version = "0.116.1"
criteria = "safe-to-deploy"

[[exemptions.wasm-opt-cxx-sys]]
version = "0.116.0"
criteria = "safe-to-deploy"

[[exemptions.wasm-opt-sys]]
version = "0.116.0"
criteria = "safe-to-deploy"

[[exemptions.which]]
version = "4.4.2"
criteria = "safe-to-deploy"

[[exemptions.winapi]]
version = "0.3.9"
criteria = "safe-to-deploy"

[[exemptions.winapi-i686-pc-windows-gnu]]
version = "0.4.0"
criteria = "safe-to-deploy"

[[exemptions.winapi-x86_64-pc-windows-gnu]]
version = "0.4.0"
criteria = "safe-to-deploy"

[[exemptions.windows_i686_gnullvm]]
version = "0.52.6"
criteria = "safe-to-deploy"

[[exemptions.witx]]
version = "0.9.1"
criteria = "safe-to-deploy"

[[exemptions.wyz]]
version = "0.5.1"
criteria = "safe-to-deploy"

[[exemptions.zerocopy]]
version = "0.7.35"
criteria = "safe-to-deploy"

[[exemptions.zerocopy-derive]]
version = "0.7.35"
criteria = "safe-to-deploy"

[[exemptions.zstd]]
version = "0.13.2"
criteria = "safe-to-deploy"

[[exemptions.zstd-safe]]
version = "7.2.0"
criteria = "safe-to-deploy"

[[exemptions.zstd-sys]]
version = "2.0.12+zstd.1.5.6"
criteria = "safe-to-deploy"
