[package]
name = "javy-core"
version = "0.1.0"
authors.workspace = true
edition.workspace = true
license.workspace = true

[[bin]]
name = "javy_core"
path = "src/main.rs"

[lib]
name = "javy_provider"
crate-type = ["cdylib"]

[dependencies]
anyhow = { workspace = true }
quickjs-wasm-rs = { path = "../quickjs-wasm-rs" }
once_cell = { workspace = true }
