name: CI

on:
  push:
    branches:
      - main
  pull_request:

# Jobs are split between WASI and native because GitHub Action workflows
# impose a 10 GB limit on disk space and building for both WASI and native
# targets exceeds the limit. So use one job for WASI targets and one for
# native to keep us under the limit.
jobs:
  wasi_ci:
    name: WASI targets
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true

      - name: Setup cache and tools
        uses: ./.github/actions/ci-common
        with:
          cache-prefix: wasi

      - name: Lint
        run: make lint-wasi-targets

      - name: Test
        run: make test-wasi-targets

      - name: Build plugin
        run: make build-default-plugin

      - name: Build test plugins
        run: make build-test-plugins

      - name: Upload plugins
        uses: actions/upload-artifact@v5
        with:
          name: plugins
          path: target/**/release/*.wasm

  native_ci:
    name: Native targets
    needs: wasi_ci
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true

      - name: Setup cache and tools
        uses: ./.github/actions/ci-common
        with:
          cache-prefix: native

      - name: Download plugins
        uses: actions/download-artifact@v6
        with:
          name: plugins
          path: target/

      - name: Lint
        run: make lint-native-targets

      - name: Test
        run: make test-native-targets-ci

      - name: WPT
        run: |
          npm install --prefix wpt
          npm test --prefix wpt
