name: WPT CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  wpt:
    name: wpt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - uses: ./.github/actions/ci-shared-setup

      - name: WPT
        run: |
          cargo build --package=javy-plugin --release --target=wasm32-wasip1 --features=experimental_event_loop
          CARGO_PROFILE_RELEASE_LTO=off cargo build --package=javy-cli --release
          npm install --prefix wpt
          npm test --prefix wpt
